* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}
.content-wrap {
  flex: 1;
}





