.content-container {
  background-color: transparent;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:200px;
}

.title {
  position: relative;
  top: 20%;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  background: transparent;
}

.text {
  position: relative;
  top: 15%;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  background: transparent;
  word-wrap:normal;
  font-size: 20px;
}

.btn-container {
  background-color: transparent;
  position: relative;
  top: 20%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 250px;
  display: flex
}





.gradient-overlay {
    position: relative;
    height:100%;
}

.gradient-overlay::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(to bottom, transparent, black 120%);
}




.slider-container {
  height: 800px;
  position: relative;
  margin-top: -5rem;
  justify-content: center;
  align-items: center;
  
}

@media screen and (max-width: 700px){
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}


.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: transparent;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}

