.navbar {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 50;
    position:relative;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
    background-color: transparent;
}

.menu-close {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: white;
    color: black;
    width: 500px;
}

.close-button {
    background-color: white;
}

.close-button:hover {
    font-size: 46px;
}

.nav-menu {
    background-color: white;
    width: 400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index:100;
    clip-path: circle(300px at 20% 5%);
    -webkit-clip-path: circle(300px at 20% 5%);
}


.nav-menu.active {
    background-color: white;
    left: 0;
    transition: 850ms;
    z-index:100;
    clip-path: circle(300px at 20% 5%);
    -webkit-clip-path: circle(300px at 20% 5%);
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 30px;
    list-style: none;
    height: 60px;
    background: white;
    
  }
  
.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  background: white;
}

.nav-text a:hover {
    font-size: 30px;
}

.nav-menu-items {
  width: 100%;
  background: white;
}

.navbar-toggle {
  background: white;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}


.logo {
    justify-content: start;
    align-items: center;
    padding: 6px 0px 6px 30px;
    background-color: transparent;
}

.logo-text {
    text-decoration: none;
    color: white;
    font-size: 46px;
    background-color: transparent;
}