.red-container {
    background-color: tomato;
    width: 100%;
    position:relative;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.btn-container-1{
    position: absolute;
    top: 0;
    right:0;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding:20px 20px;
    z-index: 50;
}

.red-content-container {
    top:0;
    width: 100%;
    height:420px;
    display: inline-flex;
}

.red-text-container{
    position: relative;
    width: 50%;
    height:100%;
}

.speaker-container {
    position: relative;
    width: 50%;
    height:100%;
}

.btn-container-2 {
    position: relative;
    height: 100px;
    width: 200px;
    top:20%;
    left:8%;
}

.speaker-img {
    background-color: transparent;
}