.review-container {
    width:100%;
    position:relative;
    top:20%;
    color: white;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color:lightblue;
}

.review-title {
    display: inline-block;
}

.review-grid {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.rating {
    margin-bottom: 20px;

}

.review-item {
    margin: 0px 80px;
}

.review-item h4 {
    margin: 50px, 0px;
}

.review-item p {
    font-size: 20px;
    flex-wrap: wrap;
    max-width: 150px;
    margin:0;
}